html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
h1,
h2,
p {
	margin: 0;
}

button,
input,
select,
textarea {
	font: inherit;
}

button {
	appearance: none;
	cursor: pointer;
}

svg {
	display: block;
	min-width: 0;
	min-height: 0;
}
